<a href="https://colab.research.google.com/github/OsvaldoCamacho/xd-challenge/blob/main/challenge_xd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import requests
import json

### 1.- Conexión al enlace y creación del DataFrame

In [2]:
url = 'https://api.stackexchange.com/2.2/search?order=desc&sort=activity&intitle=perl&site=stackoverflow'
r = requests.get(url).json()

In [3]:
r_items = r['items']
df_items = pd.DataFrame(r_items)
list_owners = list(df_items['owner'])
df_owners = pd.DataFrame(list_owners)
df = pd.concat([df_items,df_owners], axis=1, join='inner')

### 2.- Obtener el número de respuestas contestadas y no contestadas

In [4]:
contestado = len(df[df['is_answered'] == True])
no_contestado = len(df[df['is_answered'] == False])
print( "Contestado = " + str(contestado) + " No contestado= " + str(no_contestado))

Contestado = 25 No contestado= 5

### 3.- Obtener la respuesta con menor número de vistas

In [5]:
min_views = df['view_count'].min()
min_views_answer = df[df['view_count'] == min_views]
min_views_answer

,tags,owner,is_answered,view_count,answer_count,score,last_activity_date,creation_date,last_edit_date,question_id,...,accepted_answer_id,closed_date,closed_reason,reputation,user_id,user_type,profile_image,display_name,link,accept_rate
8,"[perl, moose]","{'reputation': 371, 'user_id': 13309379, 'user...",True,25,1,3,1656600904,1656600301,1.656601e+09,72817790,...,72817932.0,NaN,NaN,371,13309379,registered,https://www.gravatar.com/avatar/0f7acf5ccd0148...,Indiano,https://stackoverflow.com/users/13309379/indiano,NaN

### 4.- Obtener la respuesta más vieja y más actual

In [6]:
oldest_answer = df[df['creation_date'] == df['creation_date'].min()]
newest_asnwer = df[df['creation_date'] == df['creation_date'].max()]

Respuesta vieja:

In [7]:
oldest_answer

,tags,owner,is_answered,view_count,answer_count,score,last_activity_date,creation_date,last_edit_date,question_id,...,accepted_answer_id,closed_date,closed_reason,reputation,user_id,user_type,profile_image,display_name,link,accept_rate
26,"[perl, variables]","{'reputation': 33313, 'user_id': 120457, 'user...",True,8733,6,27,1656234793,1246963702,1.312396e+09,1091634,...,1091676.0,NaN,NaN,33313,120457,registered,https://www.gravatar.com/avatar/56abbd59ee5a0c...,joe,https://stackoverflow.com/users/120457/joe,91.0

Respuesta actual:

In [8]:
newest_asnwer

,tags,owner,is_answered,view_count,answer_count,score,last_activity_date,creation_date,last_edit_date,question_id,...,accepted_answer_id,closed_date,closed_reason,reputation,user_id,user_type,profile_image,display_name,link,accept_rate
1,"[regex, perl]","{'reputation': 19, 'user_id': 19444917, 'user_...",True,66,2,0,1656623809,1656611578,1.656619e+09,72820093,...,NaN,NaN,NaN,19,19444917,registered,https://lh3.googleusercontent.com/a-/AOh14GjUs...,ctheising98,https://stackoverflow.com/users/19444917/cthei...,NaN

### 5.- Obtener la respuesta del owner que tenga una mayor reputación

In [9]:
max_reputation =  df[df['reputation'] == df['reputation'].max()]
max_reputation

,tags,owner,is_answered,view_count,answer_count,score,last_activity_date,creation_date,last_edit_date,question_id,...,accepted_answer_id,closed_date,closed_reason,reputation,user_id,user_type,profile_image,display_name,link,accept_rate
21,"[perl, debugging, compilation]","{'reputation': 72211, 'user_id': 124486, 'user...",True,176,1,5,1656442953,1656434780,NaN,72790345,...,72790742.0,NaN,NaN,72211,124486,registered,https://www.gravatar.com/avatar/605442f85418d8...,Evan Carroll,https://stackoverflow.com/users/124486/evan-ca...,46.0